<div class="container menu-spaced">
	<section data-ng-controller="ClassifiedsController" data-ng-init="findOne()">
		<div class="row">
			<div class="col-md-6">
				<div class="box-shadow">
					<img class="img-rounded img-responsive"
						 src="data:{{classified.pic.contentType}};base64,{{classified.pic.data}}"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-shadow">
					<div class="classified-info">
						<div class="price">
							<p  data-ng-bind="classified.price + '€'"></p>
						</div>
						<div>
							<h1 data-ng-bind="classified.shortDescription"></h1>
						</div>
						<div>
							<p data-ng-bind="classified.longDescription"></p>
						</div>
						<div>
							<label>Familia</label>

							<p data-ng-bind="classified.family.name"></p>
						</div>
						<div>
							<label>Tipo de instrumento</label>

							<p data-ng-bind="classified.instrumentType.name"></p>
						</div>
						<div>
							<label>Categoría</label>

							<p data-ng-bind="classified.category.name"></p>
						</div>
						<div>
							<label>Usuario</label>

							<p data-ng-bind="classified.user.displayName"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="pull-right"
			 data-ng-show="((authentication.user) && (authentication.user._id == classified.user._id))">
			<a class="btn btn-primary" ng-really-message="Are you sure?" href="/#!/classifieds/{{classified._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</section>
</div>
