<div class="parallax">
	<div class="color-layer">
		<div class="title container">
			<div class="row">
				<div class="col-md-12">
					<img src="modules/core/img/brand/logo-symbol-large.png" class="img-responsive center-block"/>
				</div>
			</div>
			<form ng-submit="search()">
				<div class="row">
					<div class="col-md-3 col-sm-2 col-xs-12"></div>
					<div class="col-md-6 col-sm-8 col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control simple-search" id="search-text"
								   placeholder="Piano Barcelona" ng-model="filter.description"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-white">Busca</button>
                            </span>
						</div>
					</div>
					<div class="col-md-3 col-sm-2 col-xs-12"></div>
				</div>
			</form>
		</div>
	</div>
	<div class="arrow bounce">
	</div>
	<!--
    <div class="imgfoot">
        <p>image comment</p>
    </div>
    -->
</div>
<div class="container-fluid" data-ng-controller="HomeController" data-ng-init="loadAdditionalInfo()">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body center-block">
					<form class="form-inline" ng-submit="search()">
						<div class="form-group">
							<label class="sr-only" for="description">Descripción</label>
							<input type="text" ng-model="filter.description" class="form-control input-sm" id="description" placeholder="Descripción">
						</div>
						<div class="form-group">
							<label class="sr-only" for="category">Categoría</label>
							<select class="form-control input-sm" ng-model="filter.category" id="category"
									class="form-control"
									ng-options="category._id as category.name for category in categories">
								<option value="" selected>Todas las categorías</option>
							</select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="family">Familia</label>

							<div class="controls">
								<select class="form-control input-sm" ng-model="filter.family" id="family" class="form-control"
										ng-options="family._id as family.name for family in families">
									<option value="" selected>Todas las familias</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="instrumentType">Tipo de instrumento</label>

							<div class="controls">
								<select class="form-control input-sm" ng-model="filter.instrumentType"
										ng-disabled="!instrumentTypes" id="instrumentType" class="form-control"
										ng-options="instrumentType._id as instrumentType.name for instrumentType in instrumentTypes">
									<option value="" selected>Todos los tipos de instrumento</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="sr-only" for="min-price">Precio mínimo</label>
							<input type="number" ng-model="filter.minprice" class="form-control input-sm" id="min-price" placeholder="Precio min.">
						</div>
						<div class="form-group">
							<label class="sr-only" for="max-price">Precio máximo</label>
							<input type="number" ng-model="filter.maxprice" class="form-control input-sm" id="max-price" placeholder="Precio max.">
						</div>
						<button type="submit" class="btn btn-default">Busca</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="js-masonry masonry">
				<a href="#!/classifieds/{{classified._id}}" data-ng-repeat="classified in classifieds">
					<div masonryitem class="box-shadow masonry-brick item">
						<img class="img-top-rounded"
							 src="data:{{classified.pic.contentType}};base64,{{classified.pic.data}}"/>

						<div class="add-footer">
							<div class="price">
								{{classified.price}}€
							</div>
							<div class="description">
								{{classified.shortDescription}}
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-md-12">
			<div id="masonry-container" class="js-masonry">
				<div data-ng-repeat="classified in classifieds" class="item add-cell">
					<img class="img-top-rounded" src="data:{{classified.pic.contentType}};base64,{{classified.pic.data}}"/>
					<div class="add-footer">
						<div class="price">
							{{classified.price}}€
						</div>
						<div class="description">
							{{classified.shortDescription}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
</div>
