<div class="parallax">
    <div class="color-layer">
        <div class="title container">
            <div class="row">
                <div class="col-md-12">
                    <img src="modules/core/img/brand/logo-symbol-large.png" class="img-responsive center-block"/>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-12"></div>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control simple-search" id="exampleInputEmail1"
                                   placeholder="Piano Barcelona"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-white">Busca</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="arrow bounce">
    </div>
    <!--
    <div id="imgfoot">
        <p>By NASA, ESA, M. Robberto (Space Telescope Science Institute/ESA) and the Hubble Space Telescope Orion
            Treasury Project Team [Public domain], <a
                    href="http://commons.wikimedia.org/wiki/File%3AOrion_Nebula_-_Hubble_2006_mosaic_18000.jpg">via
                Wikimedia Commons</a></p>
    </div>
    -->
</div>