@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
	color: #88847B;
	-webkit-font-smoothing: antialiased;
	text-align: justify;
	text-justify: inter-word;
	background-color: #F8F5E2;
}

a:hover {
	text-decoration: none
}

body .btn-white {
	color: #fff !important;
	border-color: #fff !important;
}

body .btn-default {
	color: #88847B;
	border-color: #88847B;
	text-shadow: none;
}

.btn-trans {
	border-style: none !important;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.simple-search {
	text-align: center;
}

body .navbar-toggle .icon-bar {
	background: #FFF;
	height: 4px;
}

.js-masonry {
	margin: 0 auto;
}

.img-top-rounded {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.img-rounded {
	border-radius: 4px;
}

.add-footer {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: white;
}

.box-shadow {
	background-color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1), 0 2px 5px 0 transparent;
}

.add-footer {
	text-align: center;
}

.add-footer > .price {
	font-size: 150%;
	color: #F78620;
}

.classified-info > .price {
	font-size: 200%;
	color: #F78620;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.item {
	margin-bottom: 20px;
	max-width: 180px;
}

.item > img {
	max-width: 180px;
}

.classified-info {
	padding: 10px;
}

.menu-spaced {
	margin-top: 70px;
}

.menu-search-spaced {
	margin-top: 130px;
}

.container-fluid.ng-scope.fixed-top {
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 100;
}
