<section data-ng-controller="FamiliesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Families</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="family in families" data-ng-href="#!/families/{{family._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="family.created | date:'medium'"></span>
				by
				<span data-ng-bind="family.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="family.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!families.$resolved || families.length">
    	No Families yet, why don't you <a href="/#!/families/create">create one</a>?
    </div>
</section>