<div class="container menu-spaced">
	<section data-ng-controller="FamiliesController" data-ng-init="findOne()">
		<div class="page-header">
			<h1 data-ng-bind="family.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == family.user._id))">
			<a class="btn btn-primary" href="/#!/families/{{family._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="family.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="family.user.displayName"></span>
			</em>
		</small>
	</section>
</div>
