<div class="container menu-spaced">
	<section data-ng-controller="SubcategoriesController" data-ng-init="find()">
		<div class="page-header">
			<h1>Subcategorías</h1>
		</div>
		<div class="list-group">
			<a data-ng-repeat="subcategory in subcategories" data-ng-href="#!/subcategories/{{subcategory._id}}" class="list-group-item">
				<small class="list-group-item-text">
					Creado el
					<span data-ng-bind="subcategory.created | date:'medium'"></span>
					por
					<span data-ng-bind="subcategory.user.displayName"></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="subcategory.name"></h4>
				<h5>Categoría: <snap data-ng-bind="subcategory.category.name"></snap></h5>
			</a>
		</div>
		<div class="alert alert-warning text-center" data-ng-hide="!subcategories.$resolved || subcategories.length">
			Aun no hay subcategorías, ¿porqué no <a href="/#!/subcategories/create">creas una</a>?
		</div>
	</section>
</div>
